
h1{
  text-align:center;
}
.headerDiv{
text-align: center;
}

.formDiv{
}

button:hover{
opacity:0.5;
}

input[type=text], input[type=password] {
width: 90%;
padding: 12px 20px;
margin: 8px 0px;
display: inline-block;
border: 1px solid black;
box-sizing: border-box;
}
.logContainerBoxes{
  float: left;
  border: 3px solid black;
  padding: 6px;
}
.regContainerBoxes{
  float: left;
  margin-left: 20%;
  border: 3px solid black;
  padding: 6px;
}

.cancelbtn {
width: auto;
padding: 10px 18px;
background-color: #f44336;
}

span.psw {
float: right;
padding-top: 16px;
}
.BoxTopLabels{
  text-align:center;
}